.header-dropdown > a {
    padding-right: 0;
    padding-left: 1.1rem;
}
.header-dropdown > a::after {
    right: auto;
    left: 0;
    margin-left: auto;
    margin-right: .6rem;
}
.header-menu {
    left: auto;
    right: 0;
    
}
.header-dropdowns .header-dropdown + .header-dropdown, .header-dropdowns .header-dropdown + .dropdown {
    margin-left: auto;
    margin-right: 29px;
}
.header-dropdowns .header-dropdown + .header-dropdown::before, .header-dropdowns .header-dropdown + .dropdown::before {
    left: auto;
    right: -14px;
    border-left: 1px solid;
    border-right: 0;
}
.compare-dropdown .dropdown-toggle i {
    margin-right: auto;
    margin-left: .2rem;
}
.cart-dropdown .dropdown-menu {
    right: auto;
    left: 0;
}
.compare-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}
.header-right {
    margin-left: 0;
    margin-right: auto;
}
@media screen and (min-width: 768px){
    .welcome-msg {
        margin-right: auto;
        margin-left: 3rem;
    }
}
.welcome-msg {
    margin: .3rem 0 .3rem 2rem;
}
.welcome-msg::after {
    right: auto;
    left: -14px;
    border-right: 0;
    border-left: 1px solid;
}
@media screen and (min-width: 992px){
    .dropdown-expanded .header-menu ul li + li:before {
        left: auto;
        right: -14px;
        border-right: 0;
        border-left: 1px solid;
    }
    .dropdown-expanded .header-menu ul li + li {
        margin-left: auto;
        margin-right: 3rem;
    }
    .footer-payments {
        margin-left: 0;
        margin-right: auto;
    }
    .footer-bottom .social-icons {
        margin-left: 0;
        margin-right: 5.4rem;
    }
}

.header-search .form-control {
    border-radius: 0 20px 20px 0;
}
.header-search select {
    border-left: 0;
    border-right: 2px solid #fff;
    padding: 1px 15px 1px 20px;
    padding-left: 0;
    padding-right: 10px;
}
.header-search .select-custom::after {
    right: auto;
    left: 1.1rem;
    color: #8d8d8d;
    font-size: 1.4rem;
}
.header-search .btn {
    /*flex: 0 0 50px;*/
    border-left: 0;
    border-right: 2px solid #fff;    padding: 0  0 0 3px;
    border-radius:  20px 0 0 20px ;
}
.header-contact {
    padding-right: 0;
    padding-left: 3.6rem;
    margin-right: auto;
    margin-left: 3.2rem;
}
.header-contact::after {
    right: auto;
    left: 0;
}
/**/
nav ul{
    float: right;
}
.menu > li {
    float: right;
}
/**/
.cart-dropdown .dropdown-toggle {
    padding-right: 0;
    padding-left: 2.6rem;
}
.cart-dropdown .dropdown-toggle .cart-count {
    right: auto !important;
    left: 1.9rem;
}
.cart-dropdown .dropdown-toggle::after {
    right: auto;
    left: 0;
    
}
.dropdown-toggle::after {
    margin-right: auto;
    margin-left: .255em;
}
.owl-carousel{
    direction: ltr;
}
.icon-angle-right{
    transform: rotate(181deg);
    display: inline-block;
}
.product-single-filter label {
    margin-right: 0;
    margin-left: 1.3rem;
}
.config-swatch-list li {
    margin-right: 0;
    margin-left: .4rem;
}
.number-input{
    padding-right :0;
    padding-left :10px;
}

.product-single-details .product-single-qty, .product-single-details .paction {
    margin: 0 0 1rem 1rem;
}
.paction span {
    padding-left: .1rem;
    padding-right: .4rem;
}
.price {
    margin-right: 0;
    margin-left: 1.3rem;
}
.product-price{
    padding-left: 0;
    padding-right: 5px;
}
.nav.nav-tabs .nav-item + .nav-item {
    margin-left: 0;
    margin-right: 3.4rem;
}
.breadcrumb-item+.breadcrumb-item {
    padding-right: 0;
    padding-left: .5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0;
    padding-right: .5rem;
}
.modal {
    direction: rtl;
}
.sidebar-shop .widget-title a::before, .sidebar-shop .widget-title a::after {
    right: auto;
    left: .5rem;
}
